@import '../properties.scss';

* {
    @include firstSentence();
}

.checkout {
    .product-link {
        @include flex();
        gap: .7rem;
        @include marginForBox(90%, 2em);
        color: #EB6440;

        .link {
            text-decoration: none;
            color: #EB6440;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .checkout-info {
        .checkout-wrapper {
            @include marginForBox(90%, 4em);
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            padding: 0 1.5rem;
            color: #5D6B82;
 
            .checkout-left {
                h1 {
                   margin-bottom: 1rem;
                   color: black;
                }
 
                .checkout-name {
                   @include flex();
                   flex-direction: row;
                   gap: 1rem;
 
                   .checkout-firstname {
                       display: flex;
                       flex-direction: column;
                       gap: 0.5rem;
                   }
 
                   .checkout-lastname {
                       @extend .checkout-firstname
                   }
                }
 
                .checkout-phonenumber {
                   display: flex;
                   flex-direction: column;
                   gap: 0.5rem;
                }
 
                .checkout-address {
                   @extend .checkout-phonenumber;
                }
            }
 
            .checkout-right {
                h1 {
                   margin-bottom: 1rem;
                   color: black;
                }
 
                .payment-card {
                   @include flex();
                   gap: .5rem;
                   background-color: #F3F3F3;
                   width: 50%;
                   padding: 1rem 1rem;
                   border: 2px solid #5D6B82;
                   border-radius: 5px;
                   margin-bottom: 1rem;
                }
 
                .payment-cardholder {
                   display: flex;
                   flex-direction: column;
                   gap: 0.5rem;
                }
 
                .payment-number {
                   @extend .payment-cardholder;
                }
 
                .payment-subinfo {
                   display: flex;
                   flex-direction: row;
                   gap: 1rem;
 
                   .payment-date {
                       @extend .payment-cardholder;
                   }
 
                   .payment-cvv {
                       @extend .payment-cardholder;
                   }
                }
            }
        }
        .order-button{
            @include confirmButton(1rem, 4rem);
            margin: 0 auto 4em;
            display: flex;
            font-size: 1.2rem;
            font-weight: bold;
            border-radius: 5px;
            margin-top: 2rem;
        }
    }
 

    input {
        background-color: #F3F3F3;
        border: none;
        width: 100%;
        border: 1px solid #918c8c;
        margin-bottom: 1rem;
        border-radius: 5px;
        padding: 1rem 2.5rem;

        &::placeholder {
            margin-bottom: 1rem;
        }
    }
}

.order {
    display: flex;
    justify-content: space-between;
    @include marginForBox(90%, 4em);
    gap: 6rem;
    padding: 0 1rem;
    flex-direction: row;
    .order-detail {
        width: 55%;
    }

    h1 {
        margin-bottom: 1rem;
    }

    .order-wrapper {
        @include flex();
        flex-direction: column;
        padding: 3rem;

        .order-box {
            @include flex();
            align-items: center;
            gap: 3rem;
            margin-bottom: 1.5rem;

            .order-info {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .order-name {
                    font-weight: bold;
                    font-size: 1rem;
                }

                span {
                    @extend .order-name;
                    margin-left: 10px;
                }
            }

            .item-total {
                font-weight: bold;
                font-size: 1rem;
            }

            img {
                width: 20%;
                object-fit: cover;
            }
            
        }
    }
}

.order-summary {
    width: 50%;
    font-weight: 500;
    h1 {
        margin-bottom: 1rem;
        color: black;
        text-align: start;
    }

    .order-item {
        .order-quantity {
            @include flexForReal();
            color: #5D6B82;
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        .order-shipment {
            @extend .order-quantity;
        }

        .order-tax {
            @extend .order-quantity;
        }

        
    }
}
hr{
    margin: 2rem 0;
}
.order-total {
    @include flexForReal();
    color: #5D6B82;
    font-size: 1.2rem;
}

@media (max-width: 900px) {
    .checkout-wrapper {
        display: flex !important;
        flex-direction: column !important;
    }

    .order{
        display: flex !important;
        flex-direction: column !important;
        .order-detail{
            width: 100%!important;
        }
        .order-summary{
            width: 100%!important;
        }
    }

}